.custom-img{
   height: 100%;
}

.custom-card {
   height: 850px;
   margin-bottom: 20px;
 }

 .custom-card-img {
   height: 350px;
 }
 
.custom-card-footer {
   height: 80px;
}

.texto {
   overflow: hidden;
   white-space: nowrap;
   text-overflow: ellipsis;
 }