<form class="form-inline m-3 row" [formGroup]="searchForm">
  <div class="col-md-12 text-center mb-3">
    <h3>Filtrar Restaurantes</h3>
  </div>
  <div class="form-group col-md-2">
    <label><strong>Selecionar Pais</strong></label>
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text bg-white">
          <i class="fas fa-globe"></i>
          <!-- <i class="fas fa-globe" [class.green-icon]="SectorId.valid"
              [class.red-icon]="!isValid && SectorId.invalid && SectorId.touched && SectorId.untouched"></i> -->
        </div>
      </div>
      <select formControlName="countryList" (change)="GetByCountry($event)" title="Selecionar Pais" id="Country"
        name="Country" class="form-control custom-select col-md-12">
        <option disabled selected value="">-Pais-</option>
        <option *ngFor="let item of countryList">{{item}}</option>
      </select>
      <!-- <select (change)="getCountry($event)" title="Selecionar Pais" name="Country" class="form-control custom-select"
          [class.is-invalid]="!isValid && service.formData.Id == 0">
          <option disabled selected value="0">-Pais-</option>
          <option *ngFor="let item of countryList" value="{{item.Id}}">{{item.countries}}</option>
        </select> -->
    </div>
  </div>

  <div class="form-group col-md-3">
    <label><strong>Selecionar Ciudad</strong></label>
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text bg-white">
          <i class="fas fa-flag"></i>
          <!-- <i class="fas fa-globe" [class.green-icon]="SectorId.valid"
             [class.red-icon]="!isValid && SectorId.invalid && SectorId.touched && SectorId.untouched"></i> -->
        </div>
      </div>
      <select formControlName="cityList" (change)="GetByCity($event)" title="Selecionar Ciudad" name="Country"
        class="form-control custom-select col-md-12">
        <option disabled selected value="">-Ciudades-</option>
        <option *ngFor="let item of cityList">{{item}}</option>
      </select>
      <!-- <select (change)="getCountry($event)" title="Selecionar Pais" name="Country" class="form-control custom-select"
         [class.is-invalid]="!isValid && service.formData.Id == 0">
         <option disabled selected value="0">-Pais-</option>
         <option *ngFor="let item of countryList" value="{{item.Id}}">{{item.countries}}</option>
       </select> -->
    </div>
  </div>

  <!-- <div class="form-group col-md-4">
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text bg-white">
          <i class="far fa-star"></i>
        </div>
      </div>
      <select formControlName="priceList" (change)="GetByPrice($event)" title="Selecionar por Estrellas" name="Country"
        class="form-control custom-select col-md-12">
        <option *ngFor="let item of priceList">{{item}}</option>
      </select>
    </div>
  </div> -->
</form>

<!-- <h5></h5> -->

<div class="row">
  <div class="col-md-3" *ngFor="let item of Data">
    <div class="card custom-card m-1">
      <img [src]="item.image_url" class="card-img-top custom-card-img" [alt]="item.name">
      <div class="card-body custom-card-body">
        <h5 class="card-title">{{item.name}}</h5>
        <p class="card-text">Direccion: {{item.address}}</p>
        <p class="card-text">{{item.country}} - {{item.area}}</p>
      </div>
      <div class="card-footer">
        <a href="#" class="btn btn-block btn-primary ">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
