<form class="form-inline m-3 row" [formGroup]="searchForm">
  <div class="col-md-12 text-center mb-3">
    <h1 class="font-weight-bold">Filtrar Restaurantes</h1>
  </div>
  <div class="form-group col-md-2">
    <label><strong>Selecionar Pais</strong></label>
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text bg-white">
          <i class="fas fa-globe"></i>
          <!-- <i class="fas fa-globe" [class.green-icon]="SectorId.valid"
              [class.red-icon]="!isValid && SectorId.invalid && SectorId.touched && SectorId.untouched"></i> -->
        </div>
      </div>
      <select formControlName="countryList" (change)="GetByCountry($event)" title="Selecionar Pais" id="Country"
        name="Country" class="form-control custom-select col-md-12">
        <option disabled selected value="">-Pais-</option>
        <option *ngFor="let item of countryList">{{item}}</option>
      </select>
      <!-- <select (change)="getCountry($event)" title="Selecionar Pais" name="Country" class="form-control custom-select"
          [class.is-invalid]="!isValid && service.formData.Id == 0">
          <option disabled selected value="0">-Pais-</option>
          <option *ngFor="let item of countryList" value="{{item.Id}}">{{item.countries}}</option>
        </select> -->
    </div>
  </div>

  <div class="form-group col-md-3 mr-auto">
    <label><strong>Selecionar Ciudad</strong></label>
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text bg-white">
          <i class="fas fa-flag"></i>
        </div>
      </div>
      <select formControlName="cityList" (change)="GetByCity($event)" title="Selecionar Ciudad" name="Country"
        class="form-control custom-select col-md-12">
        <option disabled selected value="">-Ciudades-</option>
        <option *ngFor="let item of cityList">{{item}}</option>
      </select>
    </div>
  </div>


  <!-- <div class="ml-auto">
    <ngb-rating [(rate)]="currentRate"></ngb-rating>
    <pre>Rate: <b>{{currentRate}}</b></pre>
  </div> -->


</form>

<!-- <h5></h5> -->

<div class="row">
  <div class="col-md-12 mx-auto ">
    <!-- <jw-pagination [Data]="Data" (changePage)="onChangePage($event)"></jw-pagination> -->
    <pagination-controls (pageChange)="ActulPage = $event"></pagination-controls>
  </div>
  <div class="col-md-12 mb-2">
    <button type="button" class="btn btn-outline-dark col-md-6">
      Total de Restaurantes Filtrados: <span class="badge badge-pill badge-light">{{obj.total_entries}}</span>
    </button>
    <button type="button" class="btn btn-dark col-md-6">
      Total de Restaurantes por pagina: <span class="badge badge-pill badge-light">{{pageSize}}</span>
    </button>
  </div>
  <div class="col-md-4" *ngFor="let item of Data | paginate: {itemsPerPage: pageSize, currentPage: ActulPage}">
    <div class="card custom-card">
      <img [src]="item.image_url" class="card-img-top custom-card-img" [alt]="item.name">
      <div class="card-body custom-card-body">
        <h5 class="card-title">{{item.name}}</h5>
        <p class="card-text">Direccion: {{item.address}}</p>
        <p class="card-text">{{item.country}} - {{item.area}}</p>
        <p class="card-texts">Puntuacion: {{item.price}} de 4</p>
      </div>
      <div class="card-footer">
        <button class="btn btn-block btn-outline-primary" (click) = getId(item.id)>Ver Detalles</button>
      </div>
    </div>
  </div>
</div>

