<div class="row">
  <h1 class="mx-auto text-center">Totales </h1>

  <button type="button" class="btn btn-outline-dark col-md-12 mt-2">
    Total de Paises: <span class="badge badge-pill badge-light">{{Data.countries}}</span>
  </button>
  <button type="button" class="btn btn-outline-dark col-md-12 my-2">
    Total de Ciudades: <span class="badge badge-pill badge-light">{{Data.cities}}</span>
  </button>
  <button type="button" class="btn btn-outline-dark col-md-12 mb-2">
    Total de Restaurantes: <span class="badge badge-pill badge-light">{{Data.restaurants}}</span>
  </button>
</div>
